@media screen and (max-width: 768px){
	.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{
		margin: 0 !important;
	}
	.container .wrapper .header .carousel-inner .item img{
		height: 200px;
	}
	.container .wrapper .header .carousel-inner .item .carousel-caption{
		margin-bottom: 0;
	}
	.black_menu_purchase {
		height: 220px;
	}
	.black_menu_purchase .btn-default{
		margin-top: 10px;
	}
	.our_latest_projects_item{
		margin-left: 0;
	}
	.our_latest_projects_item .nav{
		border: none;
	    margin-left: 100px;
	}
	.bg_only_photo .img-responsive{
		display: none;
	}
	.bg_down_photo_only{
		display: none;
	}
	.phone_in_hand{
		margin: 30px 0 0 0!important;
		max-width: 100%
	}
	.phone_in_hand ul{
		margin-left: 405px;
	}
	.bg_linear_gradient .img_item{
		margin: 70px 35%;
	}
	.bg_linear_gradient .img_item .img_item_in{
		padding-right: 50%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		margin-left: 27%;
	}
	.recent_post .recent_post_item .text_under_photo .btn-default{
		margin-left: 65%;
	}
	.bg_down_site img:last-child{
		left: 0px;
		top: 170px;
	}
	.footer{
		height: 1090px;
	}
	.tab-content{
		margin-left: 150px;
	}
	.recent_post .recent_post_item{
		padding: 0 180px 0 180px !important;
	}

}
@media screen and (max-width: 480px){
	.container .wrapper .header .carousel-inner .item .carousel-caption .btn-default{
		display: none;
	}
	.black_menu_purchase{
		height: 305px;
	}
	.tab-content{
		margin-left: 40px;
	}
	.phone_in_hand div{
		padding-left: 0;
	}
	.phone_in_hand ul{
		margin-left: 0;
	}
	.bg_linear_gradient .img_item{
		margin: 70px 30%;
	}
	.recent_post .recent_post_item{
		padding: 0 60px !important;
	}
}
@media screen and (max-width: 320px){
	.container .wrapper .header .carousel-inner .item img{
		display: none;
	}
	.carousel-indicators{
		display: none;
	}
	.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
		display: none;
	}
	.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
		display: none;
	}
	.all_content .we_developer{
		margin-top: 100px;
	}
	.container .wrapper .header .nav li a{
		color: #000;
	}
	.black_menu_purchase{
		padding: 20px 30px;
	}
	.our_latest_projects_item .nav{
		margin-left: 10px;
	}
	.tab-content{
		margin-left: 0;
	}
	.bg_linear_gradient .img_item{
		margin: 70px 25%;
	}
	.recent_post .recent_post_item{
		padding: 0 10px !important;
	}
	.bg_down_site img:last-child{
		top: 70px;
	}
	.bg_down_site{
		height: 180px;
	}
	.footer{
		height: 1110px;
	}
	.down_footer_row .bg_down_footer{
		margin-bottom: -45px;
	}
}