.container{
	overflow-x: hidden;
}
.margin_50{
	margin: 50px;
}
.margine_0{
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.black_color{
	color: black;
}
.bg_header{
	position: absolute;	
}
.border_top{
	border-top: 1px solid #252525;
	margin: 5px 0 10px;
	padding: 5px 0 10px;
}
.my_img_responcive{
	max-width: 40%;
	height: auto;
}
.carousel-control{
	background: none !important;
}
.container{
	.wrapper{
		.header{
			.navbar-brand{
				img{
					position: relative;
					bottom: 15px;
				}
			}
			.nav{
				li{
					a{
						font-family: 'Montserrat', sans-serif;
						color: #fff;
						&:active{
							color: #c7b299;
						}
						&:hover{
							color: #c7b299;
						}
					}
				}
			}
			.navbar{
				background: none;
				border: none;
			}
			.navbar-brand{
				font-family: 'Raleway', sans-serif;
				color: #fff;
			}
			.carousel-inner{
				.item{
					img{
						opacity: 0;
						height: 600px;
					}
				.carousel-caption{
					margin-bottom: 200px;
					.btn-default{
						width: 170px;
						height: 53px;
						box-shadow: inset 0 -3px 0 #736357;
						border-radius: 3px;
						background-color: #998675;
						color: #ffffff;
						font-family: Raleway;
						font-size: 14px;
						font-weight: 700;
						line-height: 23px;
						text-transform: uppercase;
						border: none;
					}
				}	
				}
			}
		}
	}
}
.black_menu_purchase{
				padding: 20px 120px;
				background-image: url(../img/background_linear_gradient.png);
				background-size: cover;
				width: 100%;
    			margin: 0 15px;
				height: 150px;
				background-color: #f4f5f8;
				font-family: 'Raleway';
				font-size: 28px;
				color: #fff;

				span{
					color: #c7b299;
				}
				small{
					color: #615855;
					font-family: 'Montserrat';
					font-size: 18px;
					font-weight: 300;
				}
				.btn-default{
					width: 170px;
					height: 50px;
					box-shadow: inset 0 -3px 0 #736357;
					border-radius: 3px;
					background-color: #998675;
					color: #ffffff;
					font-family: 'Raleway';
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					margin-top: -35px;
					border: none;
				}
			}
		.all_content{
			.we_developer{
				margin-top: 75px;
				text-align: center;
				cursor: pointer;
				&:after {
					content: '';
					width: 70px;
					height: 3px;
					background-color: #f1eee9;
					display: block;
					margin-left: 33%;
				}
				&:hover::after{
					content: '';
					width: 70px;
					height: 3px;
					display: block;
					margin-left: 33%;
					background-color: #c7b299;
					}
				.two_spans{
					&:hover{
						p{
							color: #c7b299;	
						}
						span{
							color: #c7b299;
						}
					}
					&:active{
						p{
							color: #c7b299;	
						}
						span{
							color: #c7b299;
						}
					}
				}
				.zag_what_we_do{
					color: #555555;
					font-family: 'Raleway', sans-serif;
					font-size: 22px;
					font-weight: 600;
					margin-top: 5px;
				}
				.glyphicon{
					font-size: 35px;
				}
			}
			.zag_and_slider{
				text-align: center;
				.page_header_prost{
					margin: 50px;
					h1{
						color: #555555;
						font-family: 'Raleway', sans-serif;
						font-size: 30px;
						font-weight: 600;
						width: 100%;
						small{
							color: #8c8c8c;
							font-family: 'Montserrat', sans-serif;
							font-size: 16px;
							font-weight: 300;
							line-height: 28px;
						}
					}	
				}
			}
			
			.our_latest_projects{
				margin-top: 80px;
				text-align: center;
				h2{
					color: #555555;
					font-family: 'Raleway';
					font-size: 30px;
					font-weight: 600;
				}
				small{
					color: #8c8c8c;
					font-family: 'Montserrat';
					font-size: 16px;
					font-weight: 300;
					line-height: 28px;
				}
			}
			.our_latest_projects_item{
				.nav{
					padding-left: 25%;
					border: none;	
						li{
							a{
								border: none;
								color: #8c8c8c;
								font-family: 'Montserrat';
								font-size: 14px;
								border-radius: 3px;
								border: 1px solid #ebebeb;
								background-color: rgba(17, 17, 17, 0);
								
							}
							
						}	
					.active{
						background-color: #998675;
						a{
							color: #ffffff !important;
							border-radius: 3px;
							border: 1px solid #ebebeb;
							width: 100%;
						}	
					}					
				}
				.our_latest_projects_item_n{
					background-color: #fbfaf8;
					margin-bottom: 20px;
					&:hover{
						.hidden_search{
							opacity: 0.7;
							display: flex;
						}
					}
					.hidden_search{
						display: none;
						position: absolute;
						width: 100%;
						width: 370px;
						height: 237px;
						top: 0;
						display: flex;
						background: #000;
						justify-content: center;
						align-items: center;
						z-index: 10;
						opacity: 0;
						transition: all 0.1s ease-in-out;
						a{
							color: #fff;
						}
						.fa{
							font-size: 40px;
							padding: 10px;
							&:hover{
								color: #c7b299;
							}
						}
					}	
					&:hover{
							cursor: pointer;
							img{
								background: rgba(0,0,0,1);
							}
							h3{
								color: #ffffff;	
							}
							small{
								color: #c7b299;
							}
							.text_under_photo{
								background-color: #362f2d;
							}
						}
					}
					.text_under_photo{
						padding-top: 10px;
						padding-left: 5px;
						padding-bottom: 10px;
						h3{
							color: #c7b299;
							font-family: 'Raleway';
							font-size: 20px;
							font-weight: 500;
						}
						small{
							color: #d1d1d1;
							font-family: 'Montserrat';
							font-size: 14px;
							font-weight: 300;
							line-height: 20px;
						}	
				}
				.only_button{
					text-align: center;
					.btn-default{
						margin: 50px 0 50px 0;
						width: 170px;
						height: 50px;
						box-shadow: inset 0 -3px 0 #736357;
						border-radius: 3px;
						background-color: #998675;
						border: none;
						color: #ffffff;
						font-family: 'Raleway';
						font-size: 14px;
						font-weight: 700;
						line-height: 23px;
						text-transform: uppercase;
					}
				}		
			}
		}
		.bg_only_photo{
			.img-responsive{
				position: absolute;
			}
		}
		.bg_down_photo_only{
			margin-top: 140px;
			text-align: center;
			h3{
				color: #ffffff;
				font-family: 'Raleway';
				font-size: 30px;
				font-weight: 500;
			}
			p{
				color: #ffffff;
				font-family: 'Montserrat';
				font-size: 16px;
				font-weight: 300;
				line-height: 28px;
				width: 550px;
   			 	margin-left: 350px;
			}
		}
		.phone_in_hand{
			margin: 130px 0 0 150px;
			max-width: 85%;
			h3{
				color: #555555;
				font-family: 'Raleway';
				font-size: 30px;
				font-weight: 600;
				margin-top: 15%;
			}
			div{
				color: #8c8c8c;
				font-family: 'Montserrat';
				font-size: 16px;
				font-weight: 300;
				line-height: 28px;
				padding-left: 430px;
				max-width: 85%;
			}
			ul{
				margin-top: 20px;
				margin-left: 415px;
				list-style: none;
				max-width: 100%;
				li{
					color: #8c8c8c;
					font-family: 'Montserrat';
					font-size: 16px;
					font-weight: 300;
					line-height: 32px;
					padding-left: 10px;
					background: url(../img/arrow_right_hand.png) 0 0.5em no-repeat;
					background-position: 1px;
					padding-left: 30px;
				}
			}
		}
		.bg_linear_gradient_only{
			background-image: url(../img/background_linear_gradient.png);
			background-size: cover;
			max-width: 100%;
		}
		.bg_linear_gradient{
			height: 300px;
			.img_item{
				margin: 70px 15px;
				img{
					margin: 15px 60px;
				}
				&:after {
					content: '';
					width: 30px;
					height: 2px;
					background-color: #ffffff;
					display: block;
					position: relative;
				    top: 150px;
				    left: 70px;
				}
				.img_item_in{
					width: 100%;
					text-align: center;
					p{
						color: #ffffff;
						font-family: 'Montserrat';
						font-size: 48px;
						font-weight: 200;
						line-height: 36px;
					}
					small{
						color: #c7b299;
						font-family: 'Montserrat';
						font-size: 14px;
						font-weight: 300;
						line-height: 20px;
						text-transform: uppercase;
					}
			}			
			.img_item_1{
				margin-left: 60px;
			}
			}	
		}	
		.recent_post{
			text-align: center;
			h2{
				color: #555555;
				font-family: 'Raleway';
				font-size: 30px;
				font-weight: 600;
			}
			small{
				color: #8c8c8c;
				font-family: 'Montserrat';
				font-size: 16px;
				font-weight: 300;
				line-height: 28px;
				margin: 10px 40px;
			}
			.recent_post_item{
					background-color: #fbfaf8;
					margin-bottom: 20px;
					margin-top: 20px;
					&:hover{
							cursor: pointer;
							h3{
								color: #ffffff;	
							}
							small{
								color: #c7b299;
							}
							.text_under_photo{
								background-color: #362f2d;
							}
						}	
					.text_under_photo{
						padding-top: 10px;
						padding-left: 5px;
						padding-bottom: 20px;
						h3{
							color: #c7b299;
							font-family: 'Raleway';
							font-size: 20px;
							font-weight: 500;
						}
						small{
							color: #d1d1d1;
							font-family: 'Montserrat';
							font-size: 14px;
							font-weight: 300;
							line-height: 20px;
						}
						.btn-default{
							border: none;
							background: none;
							color: #c7b299;
							font-family: 'Montserrat';
							font-size: 14px;
							font-weight: 300;
							line-height: 20px;
						}
					}
				}
		}
		.bg_down_site{
			background-image: url(../img/photo_bg_down_site.png);
			height: 489px;
			img{
				&:last-child{
					position: relative;
					top: 100px;
    				left: 90px;
				}
			}
		}
		.footer{
			background-color: #191919;
			height: 340px;
			padding-left: 40px;
			.footer_item{
				&:first-child{
					h2{
						color: #ffffff;
						font-family: 'Raleway';
						font-size: 34px;
						font-weight: 400;
					}
					small{
						color: #555555;
						font-family: 'Montserrat';
						font-size: 14px;
						font-weight: 300;
						line-height: 24px;
					}
					.btn-default{
							border: none;
							background: none;
							color: #d1d1d1;
							font-family: 'Montserrat';
							font-size: 14px;
							font-weight: 400;
							line-height: 20px;
						}
				}
				h2{
					color: #ffffff;
					font-family: 'Raleway';
					font-size: 24px;
					font-weight: 700;
				}
				.date{
					color: #363636;
					font-family: 'Montserrat';
					font-size: 12px;
					font-weight: 300;
					line-height: 20px;
				}
				.first_p{
					color: #555555;
					font-family: 'Montserrat';
					font-size: 14px;
					font-weight: 300;
					line-height: 20px;
				}
				.date_2{
					color: #ffffff;
					font-family: 'Montserrat';
					font-size: 12px;
					font-weight: 300;
					line-height: 20px;
				}
				.yellow_text{
					color: #c7b299;
					font-family: 'Montserrat';
					font-size: 14px;
					font-weight: 300;
					line-height: 20px;
				}
				.date_3{
					color: #363636;
					font-family: 'Montserrat';
					font-size: 12px;
					font-weight: 300;
					line-height: 20px;
				}
				.last_p{
					color: #555555;
					font-family: 'Montserrat';
					font-size: 14px;
					font-weight: 300;
					line-height: 20px;
				}
				.third_block{
					h2{
						color: #ffffff;
						font-family: 'Raleway';
						font-size: 24px;
						font-weight: 700;
					}
					p{
						font-family: 'Montserrat';
						font-size: 14px;
						font-weight: 300;
						line-height: 20px;
						color: #555555;
						span{
							color: #00bff3;
						}
					}
					.data{
						color: #363636;
						font-family: 'Montserrat';
						font-size: 12px;
						font-weight: 300;
						line-height: 20px;
					}
					span{
						font-family: 'Montserrat';
						font-size: 14px;
						font-weight: 300;
						line-height: 20px;
						color: #555555;
						a{
							color: #959595;
						}
					}
				}
				.footer_item_last{
					width: 24%;
					
				}
			}
		}
		
		.down_footer_row{
			width: 100%;
		.bg_down_footer{
				background: #111;
				height: 100px;
				background-size: cover;
				margin-bottom: -20px;
		}			
		.down_footer{
			position: relative;
			bottom: 45px;
   			left: 15%;
   			width: 80%;
			padding-right: 5%;
			.text_in_down_footer{
					width: 100%;
   					.copyright_text{
   						margin-right: 2%;
   						border-right: 1px solid #252525;
   						span{
   							color: #888888;
   						}
   					}
   					.privacy_policy{
   						margin-right: 2%;
   						border-right: 1px solid #252525;
   					}
   					div{
   						margin-right: 2%;
   						border-right: 1px solid #252525;
   						span{
   							color: #888888;
   						}
   						&:nth-child(4){
   							border: none;
   						}
   						&:last-child{
   							border: none;
   						}
   					}
				}
			}
		}				
		